.cs {
  height: 17px;
  position: absolute;
  width: 11px;
  cursor: pointer;
  background: url(./ColorStop.png) right center;

  div {
    height: 7px;
    left: 2px;
    width: 7px;
    position: absolute;
    top: 8px;
  }

  .active {
    background-position: left center;
  }

  &.vertical {
    transform: rotate(-90deg) translate(4px, 2px);
  }
}
