.use-case-content {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

.inner {
  margin-right: 40px;
}

.use-case-content .title {
  margin: 6px 0 6px 0;
  color: #a0522d;
  font-weight: bold;
}

.use-case-content .title a {
  text-decoration: none;
  color: #d78025;
}
.use-case-content .title a:hover {
  color: #a0522d;
}

.cp, .sketch-picker, .rc-color-picker-panel {
  margin: 6px 0 6px 0;
}

.palette {
  border: 1px solid #ccc;
}

.result {
  height: 72px;
  width: 314px;
  margin-bottom: 8px;
  padding: 4px;
  background-color: #eee;
  overflow-y: auto;
  font-family: monospace;
  font-size: 0.8em;
}

.preview {
    width: 100%;
    height: 40px;
}

@keyframes app-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
