@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.use-case-content {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
}

.use-case-content .title {
    margin: 6px 0 6px 0;
    color: #a0522d;
    font-weight: bold;
}

.use-case-content .title a {
    text-decoration: none;
    color: #d78025;
}

.use-case-content .title a:hover {
    color: #a0522d;
}

.cp, .sketch-picker, .rc-color-picker-panel {
    margin: 6px 0 6px 0;
}

.palette {
    border: 1px solid #ccc;
}

.result {
    height: 72px;
    width: 300px;
    margin-bottom: 8px;
    padding: 4px;
    background-color: #eee;
    overflow-y: auto;
    font-family: monospace;
    font-size: 0.8em;
}

.preview {
    width: 100%;
    max-width: 400px;
    height: 40px;
}

hr {
    margin: 20px 0;
}

.aps {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
